<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8222.36466" newVersion="1.0.8222.36466" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._time_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8157.31094" newVersion="1.0.8157.31094" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8225.41044" newVersion="2.0.8225.41044" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.8208.38024" newVersion="1.1.8208.38024" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8186.38808" newVersion="1.0.8186.38808" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8226.22818" newVersion="1.0.8226.22818" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8222.37135" newVersion="1.0.8222.37135" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8186.39447" newVersion="1.0.8186.39447" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8220.34987" newVersion="1.0.8220.34987" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._fs_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8206.21953" newVersion="2.0.8206.21953" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8177.42068" newVersion="1.0.8177.42068" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.8387.39356" newVersion="2.1.8387.39356" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8181.34397" newVersion="1.0.8181.34397" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" /></startup></configuration>
