<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230728.104656-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230709.141821-sym" targetFramework="net481" />
  <package id="AE.Net.Mail" version="1.7.7816.38666" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3-beta1" targetFramework="net481" />
  <package id="nilnul._acc_._LIB_" version="2.1.231121.51706-sym" targetFramework="net481" />
  <package id="nilnul._app_._LIB_" version="1.1.240317.32719-sym" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.231213.174600-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.231121.55239-sym" targetFramework="net481" />
  <package id="nilnul._comm_._LIB_" version="1.0.7827.34092" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.240301.52742-sym" targetFramework="net481" />
  <package id="nilnul._human_._LIB_" version="1.1.220725.151533" targetFramework="net481" />
  <package id="nilnul._human_._LINQ_" version="1.1.220725.150847" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.231012.113523-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.240104.43053-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.231206.31605-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.240507.55359-sym" targetFramework="net481" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.240118.150201-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.231003.172246-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230730.135726-sym" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.240426.150924-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.240229.181016-sym" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.240118.150156-sym" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.240426.114901-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.230611.40617-sym" targetFramework="net481" />
  <package id="nilnul.lang_._cognom_._LIB_" version="1.1230806.123209-sym" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB_" version="1.1230804.164911-sym" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.231025.131213-sym" targetFramework="net481" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.240507.42623-sym" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.240506.141152-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.231225.105453-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.240507.30550-sym" targetFramework="net481" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.230507.144737-sym" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.240429.95934-sym" targetFramework="net481" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.231025.131213-sym" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.2-mauipre.1.22102.15" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>