<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.250926.84614" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.250926.84614" targetFramework="net48" />
  <package id="Accord" version="3.8.0" targetFramework="net481" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net481" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net481" />
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="BouncyCastle.NetFramework" version="1.8.5.2" targetFramework="net481" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net481" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="Ghostscript.NET" version="1.3.2" targetFramework="net48" />
  <package id="itext" version="9.4.0" targetFramework="net48" />
  <package id="itext.commons" version="9.4.0" targetFramework="net48" />
  <package id="itext7" version="9.4.0" targetFramework="net48" />
  <package id="itext7.commons" version="9.4.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net481" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net481" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="18.0.1" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="18.0.1" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="MSTest.Analyzers" version="4.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="4.0.2" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="4.0.2" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net481" />
  <package id="nilnul._acc_._LIB_" version="2.1.241204.115319" targetFramework="net481" />
  <package id="nilnul._app_._LIB_" version="1.1.250821.73525" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.251122.90106" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.250403.154606" targetFramework="net481" />
  <package id="nilnul._collective_._LIB__" version="1.0.250314.91731" targetFramework="net481" />
  <package id="nilnul._comm_._LIB_" version="1.1.240922.61252" targetFramework="net481" />
  <package id="nilnul._discrete_._LIB_" version="1.0.251212.133353" targetFramework="net48" />
  <package id="nilnul._fs_._LIB_" version="2.1.250828.165121" targetFramework="net48" />
  <package id="nilnul._geometry_._LIB_" version="1.0.250905.105258" targetFramework="net48" />
  <package id="nilnul._human_._LINQ_" version="1.1.250814.160903" targetFramework="net48" />
  <package id="nilnul._lang_._LIB_" version="1.1.250405.132122" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.240824.153439" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.260101.95508" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.251224.140320" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.260105.72419" targetFramework="net48" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.241001.153554" targetFramework="net481" />
  <package id="nilnul._pic_._LIB4FX_" version="1.0.241231.140625" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.251026.114443" targetFramework="net48" />
  <package id="nilnul._relation_._LIB_" version="1.0.250323.170516" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.251123.62519" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.251113.114745" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.251230.114954" targetFramework="net48" />
  <package id="nilnul._win_._LIB_" version="1.1.250726.143211" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.250227.70442" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.241123.135147" targetFramework="net481" />
  <package id="nilnul.lang_._cognom_._LIB_" version="2.0.250301.125903" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB_" version="2.0.240820.192426" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB4FX_" version="1.0.240820.181034" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.250413.152254" targetFramework="net481" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.251120.143111" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.251218.91104" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.260105.94005" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.260103.141347" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.250413.134211" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.260105.132610" targetFramework="net48" />
  <package id="nilnul.num.real._stream_._LIB_" version="1.0.250211.94435" targetFramework="net481" />
  <package id="PDFsharp" version="6.2.3" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net481" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.250326.50838" targetFramework="net481" />
  <package id="SkiaSharp" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="10.0.1" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net481" />
  <package id="System.Console" version="4.3.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="10.0.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Abstractions" version="22.1.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.1" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="10.0.1" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Pkcs" version="10.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net481" />
  <package id="System.Security.Cryptography.Xml" version="10.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.1" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.1" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net481" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net481" />
  <package id="TestableIO.System.IO.Abstractions" version="22.1.0" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="22.1.0" targetFramework="net48" />
  <package id="Testably.Abstractions.FileSystem.Interface" version="10.0.0" targetFramework="net48" />
</packages>